<footer class="site-footer">

<!-- <div class="bottom-banner light-blue">
	<div class="inner">
		<div>
			© 2024 The Regents of the University of California
			© The University of Texas at Dallas
		</div>
		
		<div class="nav">
			<ul class = "bottom-banner-menu">
				<li><a href = "mailto:decisionlab@ucsf.edu" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
				<li><a href="https://www.ucsf.edu/accessibility-resources" target="_blank" rel="noopener noreferrer">Accessibility</a></li>
		        <li><a href="https://www.ucsf.edu/website-privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
	    	    <li><a href="https://www.ucsf.edu/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of Use</a></li>
	        	<li><a href="https://websites.ucsf.edu/azlist" target="_blank" rel="noopener noreferrer">A-Z Website List</a></li>
			</ul>
		</div>
	</div>
</div>

</footer>





<footer>
    <a id="footer"></a> -->

   

       <div id="footer">
        <h1><a href="https://www.utdallas.edu/"><strong>The University of Texas at Dallas</strong></a></h1>
        <div class="wp-block-columns footer-container">
            <div class="wp-block-column left" style="flex-basis:33.33%">
                <!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size"><a href="https://engineering.utdallas.edu/">ERIK JONSSON SCHOOL </a><br><a href="https://engineering.utdallas.edu/">OF ENGINEERING AND </a><br><a href="https://engineering.utdallas.edu/">COMPUTER SCIENCE</a></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>800 W. Campbell Road<br>Richardson, TX 75080-3021</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>972.883.2974</p>
<!-- /wp:paragraph -->

<!-- wp:html -->
<ul class="social-media-icons">



<li><a href="https://www.youtube.com/channel/UCdauT8tugNSgJRusDAoeBEA"><img alt="Youtube" src="https://websvcs.utdallas.edu/templates/engineering/bio/images/youtube.png"></a></li></ul>
<!-- /wp:html -->

<!-- wp:paragraph -->
<p>© The University of Texas at Dallas</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->            </div>
            <div class="wp-block-column right" style="flex-basis:66.66%">
                <!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:list -->
<ul><!-- wp:list-item -->
<li>ABOUT</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/about/leadership/">Leadership</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/about/corporate-partners/">Corporate Partners</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/about/at-a-glance/">At a Glance</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/about/facilities/">Facilities</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/about/contact/">Contact</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>ACADEMICS</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/academics/undergraduate-majors/">Undergraduate Majors</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/academics/graduate-education/">Graduate Education</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="https://engineering.utdallas.edu/academics/certificates/">Certificates</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>INNOVATION</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/innovation/research/">Research</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/innovation/research-awards/">Research Awards</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/innovation/research-centers/">Research Centers</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/innovation/research-institutes/">Research Institutes</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>ENGAGE</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/engage/students/">Students</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/engage/alumni/">Alumni</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/engage/corporate-engagement/">Corporate Engagement</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/engage/giving/">Giving</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>NEWS</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="https://engineering.utdallas.edu/pulsar/">Pulsar</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/news/archive/">Stories</a></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><a href="http://engineering.utdallas.edu/news/newsletter/">Newsletter</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:image {"id":9327,"sizeSlug":"full","linkDestination":"none","className":"f-wordmark"} -->
<figure class="wp-block-image size-full f-wordmark"><img src="https://sites.utdallas.edu/engineering/files/2022/01/Fearless-Wordmark.png" alt="Fearless Engineering Logo" class="wp-image-9327"></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->            </div>
                
        </div>
    </div>
    
</footer>