<header class="site-header">
		
		<div class="top-banner logo theme">
	        <div class="inner">
	            <div>
                <a class="logotype" href="http://www.utdallas.edu/" target="_blank" rel="noopener noreferrer">
                  <span>The University of Texas at Dallas</span>
                </a>
                <!-- <a href="https://www.utdallas.edu/"><img class="logo" alt="UT Dallas Mobile" src="https://websvcs.utdallas.edu/templates/engineering/syse/images/utdallas-logo.png"></a> -->
	            </div>
	            <div class="nav">
	                <ul class="top-banner-menu">
                    <li><a href="http://nova-utd.github.io" target="_blank" rel="noopener noreferrer">
                      <!-- About NOVA -->
                      <img src="https://nova-utd.github.io/assets/res/logo.svg" style="height:1em">
                      <!-- <img src="{ https://nova-utd.github.io/assets/res/logo.svg }" style="width:10%"> -->
                    </a></li>
                    <li><a href="http://ecs.utdallas.edu" target="_blank" rel="noopener noreferrer">
                      <!-- About ECS -->
                      <!-- <img src="{ https://media.licdn.com/dms/image/C4D0BAQF8hNHOZ-0Ccw/company-logo_200_200/0/1652386937114/the_erik_jonsson_school_of_engineering__computer_science_at_ut_dallas_logo?e=1713398400&v=beta&t=E0TwS4VzhuTrn90px_CN4qvCZBP09AbekmnrrrwmsGE }" style="width:10%;"> -->
                      <img src="https://engineering.utdallas.edu/websvcs/templates/engineering/bio/images/jonssonschool.png" style="height:1em;">
                    </a></li>
                    <li><a href="http://me.utdallas.edu" target="_blank" rel="noopener noreferrer">
                      <!-- Mechanical Engineering -->
                      <!-- <img src="{ https://media.licdn.com/dms/image/D560BAQHejsa7vpNapg/company-logo_200_200/0/1685995076675/utdme_logo?e=1713398400&v=beta&t=-DH9uKkNYlHxVTM8ZwmBWyxiR7yOD5BV9CkF3VTHqA8 }" style="width:5%;"> -->
                      <img src="https://bpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/f/1145/files/2020/02/UTDmono_ECS__header_CMYK-2L_header_CMYK-2L.png" style="height:1em;">
                    </a></li>
                    <!-- <li><a href="http://www.utdallas.edu" target="_blank" rel="noopener noreferrer">About UT Dallas</a></li> -->
	                </ul>
	            </div>
	        </div>
	    </div>

  <div class="wrapper">

    {% if page.layout != "about" %}
    <a class="site-title" href="{{ site.baseurl | prepend: site.url }}/">
      <img style="display: inline-block; vertical-align: middle; padding-right: 2px; margin-bottom: 8px; height: 1.5em;" 
      src="{{ 'logo_random.jpg' | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
      Applied Systems Lab @ UTD
    </a>
    <!-- UPDATE ABOVE                  ^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    {% endif %}

    {% include nav.html %}

  </div>

</header>
